<div class="main">
	<div class="container">		
		<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
			<nav class="navbar navbar-light">
				<a class="navbar-brand">
					<img src="assets/images/logo-dans-meat-yogurt.svg" alt="Dans' Meat Yogurt Company Logo">
				</a>
			</nav>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto float-right">
					<li class="nav-item dropdown btn btn-outline-light mr-4" style="width: 120px;">
						<a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Flavors
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item">Egg</a>
							<a class="dropdown-item">Beef</a>
							<a class="dropdown-item">Chicken</a>
							<a class="dropdown-item">Fish</a>
						</div>
					</li>
					<li class="nav-item btn btn-outline-light" style="width: 120px;">
						<a class="nav-link text-white">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="jumbotron">
			<div class="row">
				<div class="col-12 col-md-7 text-center text-md-left">
					<h1 class="display-3 text-white drop-shadow">Thick & Creamy</h1>
					<p class="lead">With real meat chunks</p>
					<a class="btn btn-outline-light btn-lg mt-4 px-5 py-3 mb-5 mb-md-0"role="button">Pricing</a>
				</div>
				<div class="col-12 col-md-5">
					<img src="assets/images/hero1.png" alt="Dan's Meat Yogurts" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-4">
				<img src="assets/images/headshot-dan.jpg" class="img-fluid border rounded-left border-lg border-0"alt="Daniel Walter Scott - Meat Yogurt Founder">
			</div>
			<div
				class="col-12 col-md-8 bg-white p-5 d-flex align-items-center border border-dark rounded-right border-lg">
				<section>
					<h2>Message from our Designer</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, adipisci praesentium
						corrupti et, quas commodi placeat pariatur cupiditate minima quo eum saepe! Rerum nemo a vitae
						voluptatum nostrum laborum deleniti harum inventore doloremque fugiat eos maiores minus quaerat,
						impedit corporis amet quasi, magni optio perferendis aperiam fugit sapiente! Impedit id, ipsam
						esse laboriosam vitae eos officia? Praesentium facilis beatae quibusdam?</p>
				</section>
			</div>
		</div>
		<div id="carouselExampleControls" class="carousel slide d-none d-md-block carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active" data-interval="500">
					<img src="assets/images/yogurt-1.png" class="d-block w-100">
				</div>
				<div class="carousel-item" data-interval="500">
					<img src="assets/images/yogurt-2.png" class="d-block w-100">
				</div>
				<div class="carousel-item" data-interval="500">
					<img src="assets/images/yogurt-3.png" class="d-block w-100">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<div class="card-deck my-5">
			<div class="card shadow" style="width: 18rem;">
				<img src="assets/images/product1.png" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
						card's
						content.</p>
					<a class="btn btn-primary stretched-link">Go somewhere</a>
				</div>
			</div>
			<div class="card shadow" style="width: 18rem;">
				<img src="assets/images/product2.png" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
						card's
						content.</p>
					<a class="btn btn-primary stretched-link">Go somewhere</a>
				</div>
			</div>
			<div class="card shadow" style="width: 18rem;">
				<img src="assets/images/product3.png" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
						card's
						content.</p>
					<a class="btn btn-primary stretched-link">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>
</div>