<div class="main_div">
    <div class="inner_div">
        <div class="container">
            <header>
                <div class="logo">
                    <a routerLink="/bike-repair">
                        <img src="../../../assets/images/logo-roar-bikes.png" alt="Logo for Bike Repair shop Roar Bikes">
                    </a>
                </div>
                <nav>
                    <div class="navbutton">
                        <a>Book Online</a>
                        <div class="newbox">
                            <div class="dropdown">
                                <div class="navbutton"><a>Onsite Service</a></div>
                                <div class="navbutton"><a>Parts Delivery</a></div>
                                <div class="navbutton"><a>Request Call</a></div>
                            </div>
                        </div> 
                    </div>
                    <div class="navbutton">
                        <a>About</a>
                    </div>
                    <div class="navbutton">
                        <a>Conact</a>
                    </div>
                </nav>
            </header>
            <div class="main">
                <h1>Contact Us</h1>
                <p>Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>
                <form>
                    <div class="inputwrapper">
                        <label for="name" class="newline" class="newline" >First Name</label>
                        <input type="text" name="name" id="name" placeholder="First Name">
                    </div>
                    <div class="inputwrapper">
                        <label for="email" class="newline">Email</label>
                        <input type="email" name="email" id="email" placeholder="vivek@sample.com">
                    </div>
                    <div class="inputwrapper">
                        <textarea name="message" id="message" cols="100" rows="5" placeholder="Let us know what you think"></textarea>
                    </div>
                    <div class="inputwrapper">
                        <input type="checkbox" name="emailsub" id="emailsub" value="yes-sign-me-up" checked>
                        <label for="emailsub" class="sign_email">Sign Up for Email Newsletter</label>
                    </div>
                    <div class="inputwrapper">
                        <p>How would you like to be contacted?</p>
                        <input type="radio" name="contact-pref" id="phone" value="phone">
                        <label for="phone" class="margin-right-a">Phone</label>
                        <input type="radio" name="contact-pref" id="email2" value="Email">
                        <label for="email2">Email</label>
                    </div>
                    <div class="inputwrapper">
                        <select name="county" id="county">
                            <option value="Not-Chosen">Choose County</option>
                            <option value="Limerick">Limerick</option>
                            <option value="Galway">Galway</option>
                            <option value="Dublin">Dublin</option>
                        </select>
                    </div>
                    <input type="button" value="Fire Away" class="mybutton">
                </form>
            </div>
        </div>
    </div>
</div>