
<div class="main">
    <div class="header-container">
        <header>
            <div routerLink="/dashboard" class="logo"><span class="highlight">VIVEK KUMAR SAHU</span> - LOGO DESIGN</div>
            <nav>
                <a class="mybutton">ABOUT</a>
                <a class="mybutton">PRICING</a>
                <a class="mybutton">CONTACT</a>
            </nav>
            <div class="mob-wrapper">
                <span class="burgermenu">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="#2be293" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                    </svg>
                </span>
                <div class="mob-nav">
                    <a class="navbutton">ABOUT</a>
                    <a class="navbutton">PRICING</a>
                    <a class="navbutton">CONTACT</a>
                </div>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="col"><img src="assets/images/image1@2x.png" alt="">
            <p>Branding: Lorem ipsum dolor sit amet, consectetur adipisicing <span class="highlight">elit</span>.</p>
        </div>
        <div class="col"><img src="assets/images/image2@2x.png" alt="">
            <p>Branding: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col"><img src="assets/images/image3@2x.png" alt="">
            <p>Branding: I'm going to try an impress you with my typing skills.</p>
        </div>
        <div class="col"><img src="assets/images/image4@2x.png" alt="">
            <p>Branding: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col hide-mobile"><img src="assets/images/image5@2x.png" alt="">
            <p>Branding: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col hide-mobile"><img src="assets/images/image6@2x.png" alt="">
            <p>Branding: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col hide-mobile"><img src="assets/images/image7@2x.png" alt="">
            <p>Branding: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col hide-mobile"><img src="assets/images/image8@2x.png" alt="">
            <p>Branding: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col hide-mobile"><img src="assets/images/image9@2x.png" alt="">
            <p>Branding: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col hide-desktop-only"><img src="assets/images/image10@2x.png" alt="">
            <p>Branding: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>